.btn_photo {
    height: 100%;
    min-width: 14vw;
    border: 2px solid white;
    background-size: cover;
    color: var(--white);
    transition: opacity 0.2s ease-in;
}

.btn_photo:hover {
    opacity: 0.8;
}

.btn_photo:active {
    position: relative;
    top: 1px;
}