/*Header */

.header {
    padding: 40px 0;
    /* min-height: 895px; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
     /* justify-content: space-between; */
    align-items: center;
    /* background-color:  var(--dark-bg); */
    background-color: var(--page-bg);
    background-image: var(--header-bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 0;
    color: var(--project-card-text);
    text-align: center;
}
.header:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--shadow-bg);
    z-index: -1;
}

.header__wrapper {
    padding: 0px 15px;
    max-width: 660px;
    /* float: left; */
    /* height: 100vh; */ 
}

/* .header__wrapper_2 {
    padding-right: 0;
    max-width: 200px;
} */

.header__title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4;
}

.header__tools {
   
    /* margin-bottom: 20px; */
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4;
}

.header__title strong {
    font-size: 40px;
    font-weight: 700;
    color: var(--project-card-text);
}

/* .header__title em {
    font-style: normal;
    color: var(--accent);
} */

.header__text {
    margin-bottom: 40px;
    font-size: larger;
    font-weight: bolder;
    line-height: 1.333;
}

.header__text p+p {
    margin-top: 0.5em;

}
/* 
.header__wrapper_2 {
    padding: 0 15px;
    max-width: 260px;
} */